.tarjeta{  
    width: 300px;
    height: auto;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;  
    padding: 0%;               
    }