.wrapperSearch{
    background-color:transparent;
    width: 300px;
    border: none;
    border-radius: 35px;
}

.input{
    border: none;
    width: 80%;
    border-radius: 35px;
    display:flow-root;
    }

.btn{
    border: none;
    width: 20%;
    border-radius: 35px;
}